.bdl-checkout-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;

	&__main {
		flex-grow: 1;
	}

	&__container {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	&__basket-col {
		border-left: 1px solid #f2f2f2;
	}
}
